<mat-sidenav-container class="sidenavWrapper">
  mode is side
  <mat-sidenav [(opened)]="opened" mode="side" class="sidenavContainer">
    <div>
      <a
        routerLink="/"
        class="navigationLink"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Home
      </a>
      <a
        routerLink="settings"
        class="navigationLink"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{exact: true}"
        >Settings
      </a>
      <a
        routerLink="profile"
        class="navigationLink"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Profile
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="headerWrapper">
      <span
        ><button mat-button (click)="opened = !opened" class="toggleButton">
          Toggle
        </button></span
      >
      <p class="headerHeading">Expenseeve</p>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
